
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
playertotal = purchase_data["SN"].count()
print("Unique Players: " + str(playertotal))

Unique Players: 780

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item Name"].nunique()
tot_purch = purchase_data["Item Name"].count()
revenue = purchase_data["Price"].sum()

item_sum = [{"Number of Unique Items": unique_items, 
            "Average Price": round((revenue / tot_purch), 2),
            "Number of Purchases": tot_purch, 
            "Total Revenue": revenue}]
item_sum_df = pd.DataFrame(item_sum)
item_sum_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# GENDER DEMOGRAPHICS
# Calculate players by gender
players_by_gender = purchase_data['Gender'].value_counts()
players_by_gender_df = pd.DataFrame(players_by_gender)

# Calculate percent of players by gender
percent_players = (purchase_data['Gender'].value_counts() / (purchase_data['Gender'].count())) * 100

# Add 'Percent of Players' to table
players_by_gender_df['Percent of Players'] = percent_players
gender_dems_df = pd.DataFrame(players_by_gender_df)
gender_dems_df

# Rename 'Gender' to 'Total Count'
new_gender_dems_df = gender_dems_df.rename(columns={
    'Gender': 'Total Count',
})
new_gender_dems_df

                       Total Count  Percent of Players
Male                           652           83.589744
Female                         113           14.487179
Other / Non-Disclosed           15            1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# PURCHASING ANALYSIS (GENDER)

more_gender_df = purchase_data.groupby('Gender')

player_count = more_gender_df['SN'].count()
player_count_df = pd.DataFrame(player_count)

avg_price = more_gender_df['Price'].mean()

total_gender_purchase = more_gender_df['Price'].sum()

norm_total = total_gender_purchase / player_count

player_count_df['Average Purchase Price'] = avg_price
gender_purchase_df = pd.DataFrame(player_count_df)

new_gender_purchase_df = gender_purchase_df.rename(columns={
    'SN': 'Purchase Count',})


new_gender_purchase_df['Total Purchase Price'] = total_gender_purchase
new_gender_purchase2_df = pd.DataFrame(new_gender_purchase_df)

new_gender_purchase2_df['Normalized Totals'] = norm_total
total_gender_purchase_df = pd.DataFrame(new_gender_purchase2_df)
total_gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# AGE DEMOGRAPHICS

bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Total Count'] = pd.cut(purchase_data['Age'],
                                     bins, labels=group_names)
groups = purchase_data.groupby('Total Count')
groups_df = groups.count()

organized_age_df = groups_df[['Age']]
organized_age_df

             Age
Total Count
<10           32
10-14         54
15-19        200
20-24        325
25-29         77
30-34         52
35-39         33
40+            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
bins2 = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names2 = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Place total number of people per age group in their respective bins
purchase_data['Total Count'] = pd.cut(purchase_data['Item ID'],
                                     bins2, labels=group_names2)
group2 = purchase_data.groupby('Total Count')
group2_df = group2.count()
age_purchase = group2_df['Item ID']
age_purchase

organized_age2_df = group2_df[['Item ID']]
organized_age2_df

             Item ID
Total Count
<10               45
10-14             22
15-19             23
20-24             22
25-29             13
30-34             22
35-39             23
40+              257

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
count_per_SN = purchase_data.groupby('SN')['Price'].count()
count_per_SN_df = pd.DataFrame(count_per_SN)
unique_SN_df = purchase_data.groupby('SN')['Price'].sum()
avg_price_per_SN = purchase_data.groupby('SN')['Price'].mean()
count_per_SN_df['Average Purchase Price'] = avg_price_per_SN
count_per_SN_df['Total Purchase Value'] = unique_SN_df
count_per_SN_df

updated_count_per_SN_df = count_per_SN_df.rename(columns={
    'Price': 'Purchase Count',})

sorted_SN_df = updated_count_per_SN_df.sort_values(by=['Total Purchase Value'], ascending=False)
sorted_SN_df

sorted_SN_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# MOST POPULAR ITEMS
count_per_item = purchase_data.groupby('Item ID')['Price'].count()
count_per_item_df = pd.DataFrame(count_per_item)

unique_item_df = purchase_data.groupby('Item ID')['Price'].sum()

item_name_df = purchase_data.iloc[:, 3]
count_per_item_df['Item Name'] = item_name_df

item_price_df = purchase_data.iloc[:, 4]
count_per_item_df['Item Price'] = item_price_df

count_per_item_df['Total Purchase Value'] = unique_item_df
count_per_item_df
updated_count_per_item_df = count_per_item_df.rename(columns={
    'Price': 'Purchase Count',})

organized_items_df = updated_count_per_item_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

sorted_items_df = organized_items_df.sort_values(by=['Purchase Count'], ascending=False)

sorted_items_df.head(5)

        Item Name  Purchase Count  Item Price  Total Purchase Value
Item ID
92         Female              13          39                 59.99
178        Female              12          57                 50.76
145          Male               9          46                 41.22
132          Male               9         145                 28.99
108          Male               9          85                 31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# MOST PROFITABLE ITEMS
count_per_item2 = purchase_data.groupby('Item ID')['Price'].count()
count_per_item2_df = pd.DataFrame(count_per_item2)

unique_item2_df = purchase_data.groupby('Item ID')['Price'].sum()

item_name2_df = purchase_data.iloc[:, 3]
count_per_item2_df['Item Name'] = item_name2_df

item_price2_df = purchase_data.iloc[:, 4]
count_per_item2_df['Item Price'] = item_price2_df

count_per_item2_df['Total Purchase Value'] = unique_item2_df
count_per_item2_df

updated_count_per_item2_df = count_per_item2_df.rename(columns={
    'Price': 'Purchase Count',})
organized_items2_df = updated_count_per_item2_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

sorted_items2_df = organized_items2_df.sort_values(by=['Total Purchase Value'], ascending=False)

sorted_items2_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Female,13,39,59.99
178,Female,12,57,50.76
82,Other / Non-Disclosed,9,160,44.10
145,Male,9,46,41.22
103,Male,8,7,34.80